# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  etapa1:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: etapa1

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        sudo apt-get install build-essential -y
    - name: Build
      run: |
        make clean
        make
    - name: Test
      run: |
        make test

  etapa2:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: etapa2

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        sudo apt-get install build-essential -y
    - name: Build
      run: |
        make build
    - name: Test
      run: |
        make test

  etapa3:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: etapa3

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        sudo apt-get install build-essential -y
    - name: Build
      run: |
        make
    - name: Test
      run: |
        make test
